.directory
.DS_Store
.~lock.*

*.csv
*.log
*.py[cod]
*.sqlite3
*.sqlite3-journal
*.session.sql
*.sql
*.xls
*.xlsx

.bashrc
.env

__pycache__/
*.egg-info/

/.ruff_cache/
/.venv/
/venv/

gclouddeploy.sh
