{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo cubículo{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo cubículo') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('udp_cubiculos.new', fid='udp_cubiculo_form') %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            <p class="form-text">El cubículo se registra como disponible. Su estado cambiará mediante las reglas de atención.</p>
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
